.body{
    margin-bottom: 4rem;
    margin-top: 0px;
    
}


.container-fluid{

        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
        max-width: 81.25rem;
        padding-top: 10px;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;
        width: 100%;
        
}
*,:after,:before {
    box-sizing: border-box;
}
.flexbox-container{
    display: flex;
    position: center;
    background-color: silver;
    
}
.page-heading {
    margin: 0 0 3rem;
    text-align: center;
}

div{
    display: block;
    
}

.login{
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 6rem;
    margin-left: auto;
    max-width: 56.25rem;
    color: #4a4a4a;   
}
h1{
    font-size: 42px;
}

.login-form{
    width: 100%;    
}
.forgot-password{
    font-size: 1rem;
}
.new-customer {
    width: 100%;
    padding-top: 20px;
}
.login-form, .new-customer, .new-customer-fact{
    padding-left: .75rem;
}
.login-form, .new-customer{
    padding-right: .75rem;
    float: left;
}
.form-label {
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    -webkit-font-smoothing: antialiased;
    padding-top: 40px;
    padding-left: 5px;
}
.form-label1{
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    -webkit-font-smoothing: antialiased;
    padding-top: 10px;
    padding-left: 5px;
}
.form-group {
    display: block;
    margin: 0 0 2rem;
    max-width: none;
}
.form-actions {
    background: 0 0;
    border: 0;
}
.form-actions {
    margin: 0 auto;
    max-width: 75.25rem;
    width: 100%;
    display: block;
}
.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    color: #666;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 3rem;
    margin: 0;
    padding: .75rem 1rem;
    transition: border-color .1s ease-out;
    width: 100%;
}
input{
    line-height: normal;
}

.form-field--error .newsletter .hbspt-form .hs-form-field .input .hs-input, .form-field--success .form-input, .form-field--success .newsletter .hbspt-form .hs-form-field .input .hs-input, .form-field--warning .form-input, .form-field--warning .newsletter .hbspt-form .hs-form-field .input .hs-input, .newsletter .hbspt-form .hs-form-field .input .form-field--error .hs-input, .newsletter .hbspt-form .hs-form-field .input .form-field--success .hs-input, .newsletter .hbspt-form .hs-form-field .input .form-field--warning .hs-input {
    float: left;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-weight: 400;
    margin: 0 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border-color: #ccc;
    color: #666;
    font-size: 1rem;
    padding: .875rem 2.25rem;
    border-radius: 4px;
    outline: 0;
    vertical-align: middle;
}
.button--primary{
    background-color: #007bff;
    border-color: #007bff;
    color: #fefefe;
}
.button--create{
    background-color: #007bff;
    border-color: #007bff;
    color: #fefefe;
    margin-top: 30px;
}
.button,  .actions  {
    line-height: 1rem;
    transition: all .15s ease;
}


button{
    color: inherit;
    font: inherit;
    margin: 0;
}
.button--primary {
    text-transform: capitalize;
    font-weight: 400;
}
.button--primary{
    padding: 14px, 36px;
}

.form-field {
    display: block;
    margin-bottom: 2rem;
    max-width: none;
}

.body a {
    text-decoration: none;
}
a {
    transition: color .15s ease;
    color: #007bff;
    background-color: transparent;
    line-height: inherit;
    text-decoration: underline;
}
.panel{
    position: relative;
}
.panel-header {
    background-color: #f7f7f7;
    margin: 0;
    padding: 1.5rem 2rem 0;
}
.panel-title {
    line-height: 1.5;
    margin: 0;
    font-size: 30px;
}
.panel-body {
    margin-bottom: 1.5rem;
    padding: 1rem 2rem 1.5rem;
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
}
.panel-body>:first-child {
    margin-top: 0;
}
.new-customer-intro {
    margin-bottom: 0;
    font-size: 1.2rem;
}
.new-customer-fact-list {
    margin-left: 3rem;
}
ul{
    margin-left: 1.15rem;
    margin-bottom: 1.5rem;
    list-style-position: outside;
}

.flexbox-container:after, .flexbox-container:before {
    content: " ";
    display: table;
}
.form-field:after, .form-field:before {
    content: " ";
    display: table;
}
.form-actions:after, .form-actions:before {
    content: " ";
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 300px) {
    /* For tablets: */
   
    .flexbox-container{
        flex-direction: column;
    }

    .button--primary{
    
       width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
   

    .flexbox-container{
        flex-direction: row;
    }

    .button--primary{
    
        width: min-content;
    }
    
}
.contact{
    color: seashell;
}
.quiklink{
    color: seashell;
}
.chat{
    color: seashell;
}
.p1{
    font-size: 15px;
    color: red;
}

  
 