.a{
    color: #072a50;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    padding-left: 15px;
 }
 
 img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);   
 }
 
 .btn-warning-1{
    background-color: rgb(247, 172, 86);
 }
 
 .btn-warning-2{
    background-color: rgb(65, 115, 252);
 }
 
 .card-title{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 35px;
    font-weight: bold;
 }
 .price{
    color: crimson;
 }
 .card{
    margin-right: 30px;
 }
 
 