
.page-heading{
    margin-top: 30px;
    padding-left: 30px;
    font-size: 50px;
}

.container-fluid{
    margin-top: 2.5rem;
    padding-left: 40px;
    margin-left: 50px;

}
* {
    box-sizing: border-box;
  }
  .col-sm-6{
    margin-left: 180px;
    margin-top: 20px;
  }
  
  .blog-card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
 }
 .container{
   margin-top: 1px;
 }
 .fa{
  margin-left: 150px;
}
 
 .input-group{
  margin-left: 100px;
 }
 .form-group{
   margin-top: 40px;
 }
 .details{
   font-size: 20px;
 }